body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

/*Header Stuff Here*/
header {
    padding: 1rem 2vw;
    background-color: #777777;
    border: 5px solid;
}
header h1 {
    margin: 0;
    color: #F9775B;
    background-color: #444444;
}
header p {
    margin: 0;
    color: #F9775B;
    letter-spacing: .5px;
    background-color: #444444;
}
/*Nav Stuff Goes Here*/
nav {
    background-color: #777777;
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-left: 5px solid;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #F98509;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #444444;
    color: #F98509;
}
nav a:hover{
    color: white;
}
/*Stuff For the Main*/
main{
    padding: 1rem 2vw;
    background-color: #777777
}
main h1 {
    color: #F9775B; 
}
main hr {
    border-style: dashed;
    border-color: #000000
}
main h2 {
    color: #F98509; 
    margin-bottom: .2rem;
}
main p {
    color: #2f3133; 
    margin: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 3vw;
    font-weight: 700;
}
main dl dt {
    color: #000000;
    font-weight: 700;
}
main dl dd {
    color: #024873;
    font-size: 1.3rem;
}
main address {
    font-style: normal;
    background-color: #C05D47;
    padding: .5rem;
    margin-top: 20px;
    width: 12.5rem;
    border: 1px solid #024873;
    border-radius: .5rem;
    
}
main a {
    color: #024873;
 
}
main a:hover {
    color: white;
}

/* Footer Stuff Here */
footer {
    background-color: darkgrey;
    text-align: center;
    color:#024873;
    padding: 1rem 0;
}

footer a:hover{
    color: white;
}
footer a {
    color: #024873;
}





























